<!DOCTYPE html>
<html>
<head>
  <title>Status Email</title>
</head>
<body>
  <h1><%= @user.first_name %> <%= @user.last_name %>, your stock trading account has been <%= @user.status %>

  <h2>Please contact admin for any question</h2>
</body>
</html>