<% if @transaction.transaction_type == 'buy' %>
  <h1>Buy stock</h1>
<% else %>
  <h1>Sell stock</h1>
<% end %>
<%= render "form", method: :post, url: create_transaction_path %>
<br>

<div>
  <%= link_to "Back to dashboard", dashboard_path(search: @transaction.stock_symbol) %>
</div>
